/* styles.css */

#map
{
    height: 150px;
    width: 500px;
}
main
{
    align-items: flex-end;
}
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column; /* Añadido para ordenar verticalmente */
    justify-content: space-between; /* Añadido para distribuir espacio entre header, section y footer */
    min-height: 100vh; /* Añadido para asegurar que el contenido se extienda al menos por el 100% de la altura de la ventana */
    align-items: center; /* Añadido para centrar verticalmente el contenido */
    background-color: #7f0826;
    margin: 0;
    padding: 0;
}

section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

@media (max-width: 768px) {
    section {
        width: 270px;
    }
}

.marginLogin {
    border: 1px solid #ccc; /* Solo para visualización */
    max-width: auto; /* Establece un máximo para evitar que se expanda demasiado en pantallas grandes */
    padding: 2%; /* Añade un relleno para mayor claridad */
} 
header {
    background-color: #d09801;
    text-align: center;
    padding-bottom: 2px;/* Aumenté el padding para que sea más visible */
    top: 0px;
    width: 100%;
}
.footer {
    background-color: #d09801;
    color: #fff;
    text-align: center;
    padding-top: 2px; /* Aumenté el padding para que sea más visible */
    bottom: 0px;
    width: 100%;
}

section h1
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; /* Centra el contenido dentro de la sección */
}

.regis
{
    color: #7f0826;
    text-decoration: none;
    font-weight: bold;
}

form {
    margin: 0 10px 0 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
}

.a_login
{
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #7f0826;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.a_login:hover
{
    background-color: #9fafc0;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* styles.css */

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos específicos para el botón de clase 'btn-primary' */
.btn-primary {
    background-color: #7f0826;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-top: 12px;
}

/* Estilos cuando el mouse está sobre el botón */
.btn-primary:hover {
    background-color: #9fafc0;
}

.form-control {
    border-radius: 5px;
    border: #000000 1px solid;
}

.btn_center{
    text-align: center;
}

#alerta {
    color: #7f0826;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

.imagen1{
    width: 120px; 
    max-width: 500px; 
    height: 120px;
}
.banner{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

#infoEvento {
    width: 100%;
    height: 150px; /* Puedes ajustar la altura según tus necesidades */
    padding: 8px;
    box-sizing: border-box;
    resize: none; /* Evita que el usuario pueda redimensionar el textarea */
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 16px;
}
  
#infoEvento[readonly] {
    background-color: #eee;
    color: #555;
    cursor: not-allowed;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1%; /* Agregamos un margen superior para separar del label */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

@media (max-width: 600px) {
    th, td {
        display:block;
        width: 100%;
        box-sizing: border-box;
    }

    td.icons {
        text-align: center;
    }
}

th {
    background-color: #f2f2f2;
}

td {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/*son los 2 iconos*/
.fa-solid {
    color: #d09801;
    font-size: 19px;
}
/*este es el icono de borrar*/
.fa-trash{
    color: #7f0826;
}
.icons{
    text-align: center; 
}

.student-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}


@media (max-width: 600px) {
    .student-details {
        flex-direction: column;
    }

    .student-details p {
        margin-bottom: 5px;
    }
}