

#contenedor {
    text-align: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-content: end;
}

#caja1, #caja2, #caja3 {
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 150px;
}
