
body {
    font-family: 'Arial', sans-serif;
    background-color: #7f0826;
    margin: 0;
    padding: 0;

}

header 
{
    background-color: #d09801;
    position: relative;
    height: 100px; /* Ajusta según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer 
{
    background-color: #d09801;
}

.header-img 
{
    max-width: 100%;
    max-height: 80px; /* Ajusta la altura máxima según tus necesidades */
    width: auto;
    height: auto;
}

.formulario
{
    border: 1px solid #691313; /* Solo para visualización */
    padding: 2%; /* Añade un relleno para mayor claridad */
    border-radius: 25px;

}

@media (max-width: 576px) {
    header {
        height: auto; /* Permite que el header se ajuste a la altura del contenido en pantallas pequeñas */
    }
    .header-img {
        max-height: 60px; /* Ajusta la altura máxima de la imagen en dispositivos pequeños */
    }
}

/* ESTILO DEL CAMBIO DE IDIOMA */
.en {
    color: #333;
}

.es {
    color: #691313;
}

.check {
    position: relative;
    width: 45px;
}

.check:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 20px;
    background: #333;
    border-radius: 25px;
}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 20px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after {
    left: 25px;
    border: 2px solid #691313;
}

.check:checked:before {
    background: #691313;
}

/* MAPA */
#map
{
    height: 300px;
    width:100%;
}